<template name="layout2">
	<!-- this is an alternate and simpler navigation bar -->
	<div class="container">


		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">

				<a class="navbar-brand" href="{{pathFor 'home'}}">YOUR APP NAME OR IMAGE</a>

				<ul class="nav nav-pills">
				  <li role="presentation"><a href="{{pathFor 'signin'}}">Sign in</a></li>
				  <li role="presentation"><a href="{{pathFor 'newuser'}}">New User</a></li>
				  <li role="presentation"><a href="{{pathFor 'makegame'}}">Make a Game</a></li>
				  <li role="presentation"><a href="{{pathFor 'findgame'}}">Find a Game</a></li>
				  <li role="presentation"><a href="{{pathFor 'createfind}}">Create of Find a Game</a></li>
				  <li role="presentation"><a href="{{pathFor 'about'}}"></a></li>
				  <li role="presentation"><a href="{{pathFor 'currentgame'}}"></a></li>
					<!-- add more li's here for your navigation bar -->
				</ul>

		
		  </div><!-- /.container-fluid -->
		</nav>

		<!-- Here is where the actual content of the page
		     gets inserted by the router! -->
		{{> yield}}

	</div>
</template>
